@page "/"

<div>
    <h3> Movie</h3>
    <MoviesList Movies="movies" />
</div>


@code {
    private List<Movie> movies;
    private Dictionary<string, object> dummyTextboxParameters = new Dictionary<string, object>() {
                                                                     { "placeholder", "new movie name 2"},
                                                                      { "disabled", "true"}
                                                                     };

    protected async override Task OnInitializedAsync()
    {
        await Task.Delay(2000);
        movies = new List<Movie>()
        {
            new Movie() { Title = "spiderman: far from home", ReleaseDate = new DateTime(2019, 7, 2) },
            new Movie() { Title = "moana", ReleaseDate = new DateTime(2016, 11, 23) },
            new Movie() {Title = "inception", ReleaseDate = new DateTime(2010, 7, 16)}
        };
    }
}

       @* movies.Add(new Movie() { Title = "Sexy and I know it", ReleaseDate = new DateTime(2023, 10, 12) }); *@


@* <button @onclick="@(( )=> Console.WriteLine("I've been clicked'"))"> Click me </button> *@

@*  @for (var i = 0; i < movies.Count; i++)
{
    <div style="background-color: @(i % 2 == 0 ? "blue" : "red") ">
        <p>@(i + 1)) Title: <b>@movies[i].Title</b></p>
        <p>Release Date: <b>@movies[i].ReleaseDate.ToString("dd MMM yyyy")</b></p>
    </div>
} *@